pkgbase = sb-git
	pkgdesc = Sandbox Applications
	pkgver = r102.d8e37af
	pkgrel = 1
	arch = any
	makedepends = zip
	depends = python
	depends = findutils
	depends = glibc
	depends = which
	depends = xdg-dbus-proxy
	depends = bubblewrap
	depends = strace
	depends = zypak
	provides = sb
	source = git+https://github.com/kkernick/sb.git
	sha256sums = SKIP

pkgname = sb-git
