pkgbase = sb-git
	pkgdesc = Sandbox Applications
	pkgver = r15.62e73c1
	pkgrel = 1
	arch = any
	depends = python
	depends = findutils
	depends = glibc
	depends = mesa-utils
	depends = which
	depends = xdg-dbus-proxy
	depends = bubblewrap
	provides = sb
	source = git+https://github.com/kkernick/sb.git
	sha256sums = SKIP

pkgname = sb-git
