pkgbase = sb++-git
	pkgdesc = Sandbox Applications
	pkgver = r377.f20b610
	pkgrel = 1
	arch = any
	makedepends = git
	makedepends = lld
	makedepends = libb2
	makedepends = clang
	makedepends = llvm
	makedepends = doxygen
	depends = findutils
	depends = glibc
	depends = which
	depends = bubblewrap
	optdepends = strace: for --strace, useful for debugging
	optdepends = hardened_malloc: for --hardened-malloc
	optdepends = zram-generator: for --sof=zram
	optdepends = xdg-dbus-proxy: for --portals, --see, --talk, --own for Flatpak Emulation
	optdepends = libseccomp: for --syscalls
	provides = sb
	conflicts = sb
	conflicts = sb-git
	source = git+https://github.com/kkernick/sb.git
	source = sb.sysusers
	b2sums = SKIP
	b2sums = 792af0991e641558928d35ff55f721507813fe3433b15e3031fa7e9fa76acb8ebde638154a97286bf515a9397087e4a605e925e07fc0505fba8f80fddd90fb91

pkgname = sb++-git
