pkgbase = sb++-git
	pkgdesc = Sandbox Applications
	pkgver = r388.a1b88b1
	pkgrel = 1
	arch = any
	makedepends = git
	makedepends = lld
	makedepends = libb2
	makedepends = clang
	makedepends = llvm
	makedepends = doxygen
	depends = findutils
	depends = glibc
	depends = which
	depends = bubblewrap
	optdepends = strace: for --strace, useful for debugging
	optdepends = hardened_malloc: for --hardened-malloc
	optdepends = zram-generator: for --sof=zram
	optdepends = xdg-dbus-proxy: for --portals, --see, --talk, --own for Flatpak Emulation
	optdepends = libseccomp: for --syscalls
	provides = sb
	conflicts = sb
	conflicts = sb-git
	source = git+https://github.com/kkernick/sb.git
	b2sums = SKIP

pkgname = sb++-git
