pkgbase = sb++-git
	pkgdesc = Sandbox Applications
	pkgver = r383.f1d0521
	pkgrel = 1
	arch = any
	makedepends = git
	makedepends = lld
	makedepends = libb2
	makedepends = clang
	makedepends = llvm
	makedepends = doxygen
	depends = findutils
	depends = glibc
	depends = which
	depends = bubblewrap
	optdepends = strace: for --strace, useful for debugging
	optdepends = hardened_malloc: for --hardened-malloc
	optdepends = zram-generator: for --sof=zram
	optdepends = xdg-dbus-proxy: for --portals, --see, --talk, --own for Flatpak Emulation
	optdepends = libseccomp: for --syscalls
	provides = sb
	conflicts = sb
	conflicts = sb-git
	source = git+https://github.com/kkernick/sb.git
	source = sb.sysusers
	b2sums = SKIP
	b2sums = 2be0726e7cf7fcb1f3bc322c5998ad43a72f35b6968844019f6f244c58d3d37ce97de9a15ceee874696b22a59ec62dcd0d4d3b8187d0b5ec6ce9c62d6273375c

pkgname = sb++-git
