[Unit]
Description = Dry Run SB profiles

[Service]
Type=oneshot
ExecStartPre=sleep 1s
ExecStart=sb-refresh --startup

[Install]
WantedBy=default.target
